@media (max-width: 1332px) {
    .cont_wrapper {
        padding: 150px 100px;
    }
    .cont_wrapper h3 {
        text-align: center;
    }
    .cont_wrapper p {
        text-align: center;
    }
    .cont_cards {
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 1170px) {
    footer {
        width: 100%;
        height: 100%;
    }
    .theme {
        display: none;
    }
    .heard_work-wrapper {
        flex-wrap: wrap;
    }
    .heard_work-past {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .heard_image {
        width: 100%;
    }
    .cort_cards {
        justify-content: center;
        flex-wrap: wrap;
    }
    .cort_card {
        align-items: center;
    }
    .cort_card p {
        text-align: center;
    }
    .info_wrapper {
        gap: 50px;
        margin: 150px 50px;
        flex-direction: column-reverse;
    }
    .comp_wrapper {
        flex-direction: column;
        margin: 0 50px 0 50px;
    }
    .info_img {
        width: 100%;
    }
    .quick_cards {
        gap: 50px;
    }
    .cont_wrapper {
        padding: 150px 20px;
    }
    .cont_cards {
        justify-content: center;
        flex-wrap: wrap;
    }
    .review_wrapper {
        padding: 150px 100px;
    }
    .join-wrapper {
        margin: 20px;
    }
}

@media (max-width: 1100px) {
    .nav_wrapper {
        padding: 19px 30px;
    }
    .heard_image,
    .comp_image {
        width: 100%;
    }
    .heard_work-list h1 {
        font-size: 30px;
        text-align: center;
    }
    .heard_work-list p {
        font-size: 18px;
        text-align: center;
    }
    .comp_text-title h3 {
        font-size: 22px;
    }
    .price_wrapper {
        padding: 0 100px;
    }
    .price_cards {
        justify-content: center;
        flex-wrap: wrap;
    }
    .price_card {
        max-width: 100%;
    }
    footer .footer-wrapper {
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
        margin: 0px 100px;
    }
    .us {
        display: flex;
        gap: 10px;
    }
}
@media (max-width: 1047px) {
    .quick_wrapper {
        padding: 0 100px 0 100px;
    }
    .review_cards {
        justify-content: center;
        flex-wrap: wrap;
    }
    footer .footer-wrapper {
        margin: 20px;
        place-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
    footer .footer-wrapper .grid-items3 p {
        text-align: center;
        margin: 20px auto;
    }
}
@media (max-width: 872px) {
    .nav_button {
        display: none;
    }
    .heard_work-wrapper {
        margin: 25px 100px 115px 100px;
        text-align: center;
    }
    .heard_work-button button:first-child,
    .heard_work-button button:last-child {
        font-size: 12px;
        padding: 15px 24px;
        white-space: nowrap;
    }
    .comp_text-title p {
        font-size: 13px;
        font-weight: 600;
    }
    .quick_wrapper {
        padding: 0 50px 0 50px;
    }
    .price_wrapper {
        padding: 0 100px;
    }
    .review_card {
        max-width: 100%;
    }
    .cont_wrapper {
        padding: 20px;
    }
    .join-wrapper {
        flex-wrap: wrap;
    }
    .wrap-right {
        width: 100%;
    }
    .wrap-right img {
        width: 100%;
    }
}
@media (max-width: 650px) {
    .nav_idear {
        display: none;
    }
    header .nav_wrapper .menu {
        display: block;
    }
    .heard_work-wrapper {
        margin: 10px;
    }
    .heard_work-button {
        justify-content: center;
    }
    .info_text-title {
        padding-bottom: 16px;
    }
    .comp_text-text p {
        font-size: 12px;
        font-weight: 600;
    }
    .quick_cards {
        flex-direction: column;
    }
    .quick_cards-card:last-child {
        flex-direction: column-reverse;
    }
    .cont_line {
        display: none;
    }
    .review_card > p {
        font-size: 12px;
        font-weight: 600;
    }
    .price_wrapper {
        padding: 0 50px;
    }
    .review_wrapper {
        padding: 100px 50px;
    }
    .join-wrapper .wrap-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .join-wrapper .wrap-left .who {
        text-align: center;
    }
    footer .footer-wrapper .grid-items3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .footer-wrapper .grid-items3 input {
        width: 100%;
    }
    .us {
        flex-direction: column;
        text-align: center;
    }
    .logo-wrap {
        display: flex;
        gap: 16px;
        justify-content: center;
        margin: 15px 0;
    }
}
@media (max-width: 480px) {
    .heard_image {
        display: none;
    }
}
